@import '@styles/theme.module.scss';

.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 3.5em;
    padding-left: 3em;
    padding-top: 2em;
    padding-bottom: 1.2em;
    opacity: 1;
    position: static;
    text-align: justify;
    margin-top: 170px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    order: 1;
    align-self: end;
    flex-basis: 100%;
    background-color: #ffffff;
}

.social {
    display: flex;
    height: 30%;
    column-gap: 0.8em;
    flex-direction: row;
}

.small {
    font: $small-font;
    margin-top: 18px;
}

.icon {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: $mobile-width) {
    .root {
        flex-direction: column;
        row-gap: 24px;
    }
}
